name: Build
on:
  workflow_dispatch:
  push:

jobs:
  build:
    permissions:
      contents: write
    strategy:
      matrix:
        goos: [windows, linux, darwin]
        goarch: [amd64, arm64]
        include:
          # BEGIN Linux ARM 7
          - goos: linux
            goarch: arm
            goarm: 7
          # END Linux ARM 7
          # BEGIN Android ARM 8
          - goos: android
            goarch: arm64
          # END Android ARM 8
          # BEGIN Other architectures
          # BEGIN MIPS
          - goos: linux
            goarch: mips64
          - goos: linux
            goarch: mips64le
          - goos: linux
            goarch: mipsle
          - goos: linux
            goarch: mips
          # END MIPS
          # END Other architectures
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      GOARM: ${{ matrix.goarm }}
      CGO_ENABLED: 0
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.24.0'
          check-latest: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Get dependencies
        run: |
          go mod download

      - name: Build
        run: |
          go build -trimpath -ldflags "-s -w" -o beihangLogin.${{ env.GOOS }}.${{ env.GOARCH }} .
      - name: Build background beihangLogin on Windows
        if: matrix.goos == 'windows'
        run: |
          go build -trimpath -ldflags "-s -w -H windowsgui" -o beihangLogin.${{ env.GOARCH }}.nogui.exe .

      - name: Rename Windows beihangLogin
        if: matrix.goos == 'windows'
        run: |
          mv beihangLogin.${{ env.GOOS }}.${{ env.GOARCH }} beihangLogin.${{ env.GOOS }}.${{ env.GOARCH }}.exe

      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: beihangLogin.${{ env.GOOS }}.${{ env.GOARCH }}
          path: |
            ./beihangLogin.*
